<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="MySection" type="rspatch.MySection, rspatch" />
  </configSections>
  <MySection>
    <Sector FillColor="Cyan" TextSize="8.5" FillOpacity="40" />
  </MySection>
  <appSettings>
    <add key="test" value="rsl5kcp20mod.dll>FC339>30 90>34 02" />
    <add key="fta 3.30 3.40" value="%ProgramFiles%\Rockwell Software\FactoryTalk Activation\flexsvr.exe>D150>55 8B EC 83 E4 F8 81 EC > 33 C0 40 89 45 FC 48 C3" />
    <add key="fta 3.51" value="%ProgramFiles%\Rockwell Software\FactoryTalk Activation\flexsvr.exe>E4D0>55 8B EC 83 E4 F8 81 EC > 33 C0 40 89 45 FC 48 C3" />
    <add key="fta 3.60" value="%ProgramFiles%\Rockwell Software\FactoryTalk Activation\flexsvr.exe>E8F0>55 8B EC 83 E4 F8 81 EC > 33 C0 40 89 45 FC 48 C3" />
    <add key="rslogix5 7.30 1" value="RS5Aut32.dll>A041B>34 08 > 30 90" />
    <add key="rslogix5 7.30 2" value="RSrs532.dll>A041B>34 08 > 30 90" />
    <add key="rslogix5 7.40 1" value="RS5Aut32.dll>D5B2B>34 08 > 30 90" />
    <add key="rslogix5 7.40 2" value="RSrs532.dll>D5B2B>34 08 > 30 90" />
    <add key="rslogix500 8.30" value="rswl032.dll>D5B2B>34 08 > 30 90" />
    <add key="rslogix500 8.40" value="rswl032.dll>FBD19>34 08 > 30 90" />
    <add key="rslogix500 9" value="rswl032.dll>FC339>34 02 > 30 90" />
    <add key="logix5000 16" value="%ProgramFiles%\Rockwell Software\RSLogix 5000\ENU\v16\Bin\rsl5kcp.dll>9F62B>34 08 > 30 90" />
    <add key="logix5000 17" value="%ProgramFiles%\Rockwell Software\RSLogix 5000\ENU\v17\Bin\rsl5kcp.dll>A057B>34 08 > 30 90" />
    <add key="logix5000 18" value="%ProgramFiles%\Rockwell Software\RSLogix 5000\ENU\v18\Bin\rsl5kcp.dll>D5B2B>34 08 > 30 90" />
    <add key="logix5000 19" value="%ProgramFiles%\Rockwell Software\RSLogix 5000\ENU\v19\Bin\rsl5kcp.dll>FBD19>34 02 > 30 90" />
    <add key="logix5000 20" value="%ProgramFiles%\Rockwell Software\RSLogix 5000\ENU\v20\Bin\rsl5kcp.dll>FC339>34 02 > 30 90" />
    <add key="studio5000 21 common" value="%ProgramFiles%\Common Files\Rockwell\FTACommon.dll>40FB9>34 02 > 30 90" />
    <add key="studio5000 21 interop" value="%ProgramFiles%\Rockwell Software\Studio 5000\Launcher\ActivationInterop.dll>5C86>0F 85 46 03 00 00 > E9 2C 00 00 00 90" />
    <add key="studio5000 21 designer" value="%ProgramFiles%\Rockwell Software\Studio 5000\Logix Designer\ENU\v21\Bin\LogixDesigner.exe>1DFAF6>0F 85 46 03 00 00 > E9 2C 00 00 00 90" />
    <add key="studio5000 21 linx" value="%ProgramFiles%\Rockwell Software\RSLinx\RSLINX.EXE>D9092>0F 85 46 03 00 00 > E9 2C 00 00 00 90" />
    <add key="studio5000 21 stub1" value="%ProgramFiles%\Rockwell Software\Studio 5000\Launcher\ftastub.dll>FCD>40 03 > 09 00" />
    <add key="studio5000 21 stub2" value="%ProgramFiles%\Rockwell Software\Studio 5000\Logix Designer\ENU\v21\Bin\ftastub.dll>FCD>40 03 > 09 00" />
    <add key="studio5000 21 stub3" value="%ProgramFiles%\Rockwell Software\RSLinx\FTAStub.dll>FCD>40 03 > 09 00" />
    <add key="rsemulate5000 19" value="%ProgramFiles%\Rockwell Software\RSLogix Emulate 5000\RSEM5K32.dll>FBD19>34 02 > 30 90" />
    <add key="rsemulate5000 20" value="%ProgramFiles%\Rockwell Software\RSLogix Emulate 5000\RSEM5K32.dll>FC319>34 02 > 30 90" />
    <add key="softlogix 19" value="%ProgramFiles%\Rockwell Automation\SoftLogix5800\RSSL5K32.dll>D5B2B>34 08 > 30 90" />
    <add key="softlogix 21 accept" value="%ProgramFiles%\Rockwell Automation\SoftLogix5800\RSSL5K32.dll>FC339>34 02 > 30 90" />
    <add key="softlogix 21 warn" value="%ProgramFiles%\Rockwell Automation\SoftLogix5800\SLChassisMon.exe>12086>0F 85 46 03 00 00 > E9 2C 00 00 00 90" />
    <add key="softlogix 21 check" value="%ProgramFiles%\Rockwell Automation\SoftLogix5800\ftastub.dll>FCD>40 03 > 09 00" />
    <add key="rslinx 2.57" value="%ProgramFiles%\Rockwell Software\RSLinx\RSwd32.dll>FBD19>34 02 > 30 90" />
    <add key="rslinx 2.58" value="%ProgramFiles%\Rockwell Software\RSLinx\RSwd32.dll>FC339>34 02 > 30 90" />
    <add key="rslinx 2.59 3.60" value="%ProgramFiles%\Rockwell Software\RSLinx\RSwd32.dll>FC319>34 02 > 30 90" />
    <add key="rsview 7.60" value="%ProgramFiles%\Rockwell Software\RDM\RSCVW32.dll>FC339>34 02 > 30 90" />
    <add key="ftv studio 6" value="%ProgramFiles%\Common Files\Rockwell\RSves32.dll>FBD19>34 02 > 30 90" />
    <add key="ftv studio 6.10" value="%ProgramFiles%\Common Files\Rockwell\RSves32.dll>FC339>34 02 > 30 90" />
    <add key="ftv studio 7" value="%ProgramFiles%\Common Files\Rockwell\FTACommon.dll>2F619>34 02 > 30 90" />
    <add key="ft gateway 3.60" value="%ProgramFiles%\Rockwell Software\RSOPC Gateway\RSFTGW32.dll>FC339>34 02 > 30 90" />
    <add key="ft transaction manager 10" value="%ProgramFiles%\Rockwell Software\RSCommon\rssql32.dll>D563B>34 08 > 30 90" />
  </appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup>
</configuration>
